/* @import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap'); */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    margin: 0 2em 0 2em;
}


h2{
    font-size: 2.2em;
}
.nav-item{
    font-weight: 600;
}
.admin{
    border: 2px solid #7979ac; 
}
header{
    background-image: url("./../images/black-3509513_1280.jpg");
    background-size: cover;
    background-color: rgba(6, 27, 230, .4);
    background-blend-mode: overlay;
    height: 65vh;
    background-position: 50% 50%;
    clip-path: polygon(0 0, 100% 0, 100% 55vh, 0 100%);
}


/* Style for login form */

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
} 

button {
    color: white;
    padding: 14px 20px;
    border: 1px solid #915fb9;
    border-radius: 4px;
    cursor: pointer;
    background-color: #7979ac;
    width: auto;
    padding: 10px 18px;
}
  
button:hover {
    opacity: 0.8;
}
.wrapper {
    padding: 2%;
}
  
span.psw {
    float: right;
    padding-top: 16px;
}
  
  /* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
}
  
.modal-content {
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    width: 50%;
    background-color:#f1f1f1;
}
  
  /* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
  
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
  
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
}

section{
    margin-top: 6%;
}
.vacancy-button{
    font-size: 1.2em;
    border: 3px solid #fefefe;
}
.perks{
    font-size: 1.2em;
}

.icon-style{
    color: #7979ac;
}

.join-backgroundImg{
    background-image: url("./../images/work-area.jpg");
    background-color: rgba(6, 27, 230, .5);
    background-blend-mode: overlay;
    background-size: cover;
    background-position: 50% 50%;
    height: 40vh;
    display:flex;
    justify-content:center;
    align-items: center;
}
.join-content{
    width: 60%;
    text-align: center;
}
.join-content>p{
    font-size: 1.3em;
}

/* Filter Style */
/* .container {
    overflow: hidden;
    margin-bottom: 5%; 
}*/
  

.filter-btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    color: #ffffff;
    background-color: #7979ac;
    cursor: pointer;
}
  
.filter-btn:hover {
    background-color: rgb(238, 238, 238);
}
  
  /* Add a dark background to the active button */
  .filter-btn.active {
    background-color: #666;
    color: white;
  }

.job-item{
    background: #ffffff;
    border: 2px solid #d0d8e2;
    border-radius: 4px;
    margin-bottom: 10px;
    transition: all ease .15s;
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all ease-in-out .13s;
}
.job-item:hover{
    transform: scale(1, .9);
    transform-style: flat;
}
/* Media Query for job-item */
@media only screen and (max-width: 1024px) {
    .job-item {
      flex-direction: column;
      align-items: flex-start;
    }
    h5{
        font-size: 1.2em;
    }
    .department{
        margin-bottom: .5rem;
        font-size: 12px;
    }
    .location{
        font-size: 12px;
    }
  }

.jobAddOn{
    color: #ffffff;
    background-color: #905fb9d5;
    border: 1px solid #cecbcb;
    border-radius: 3px;
}
.department{
    padding: 3px 8px;
    color: #ffffff;
    background-color: #7979ac;
    border: 1px solid #cecbcb;
    border-radius: 3px;
}
.location{
    padding: 3px 8px;
    color: #ffffff;
    background-color: #7979ac;
    border: 1px solid #cecbcb;
    border-radius: 3px;
}
#no-result{
    font-size: 1.2em;
}

h4{
    font-style: 1em;
}
.vacancies-section{
    width: 60%;
    margin-left: 20%;
}

.job__form .container{
 display: flex;
 flex-direction: column;
 width: 60%;
}

#jobListing{
    width: 70%;
    margin: 0 auto;
    margin-top: 5%;
    list-style-type: none;
}
.jobAdded{
    border: #000;
    border-bottom: 3px solid #915fb9;
    margin-top: 5%;
}
.filter-btn{
    border-radius: 3px;
    padding: .7rem 1rem;
    margin-bottom: 1rem;
}

.job__form button{
   background-color: mediumpurple;
   color: #fff;
   font-weight: 600;
   padding: 1rem;
   border-radius: 3px;
}
.test-button{
    font-size: 1.2em;
    border: 3px solid #fefefe;
}



/* Styles for the footer section */
footer{
    background:#242c36;
    padding: 2rem 1rem;
    margin-top: 6rem;  
}

footer h4{
    color: #ffffff;
    text-transform: uppercase;
    font-size:20px;
    font-weight:400;
}
footer ul li{
    list-style: none;
}
footer ul li a{
    color:#636e7b;
    line-height:2;
}
footer ul li a:hover{
    color:#a734c4;
    text-decoration: none;
}
footer address ul li{
    line-height:1.8;
    color:#636e7b;
}
.email-legend{
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 1em;
}
#footer-textarea{
    width: 100%;
    height: 40px;
    padding: 1rem;
}
.subscribe{
    background-color: #7979ac;
    color: #ffffff;

}
.footer-social{
    font-size: 2rem;
}


