*{
    margin: o;
    padding: 0;
}
body{
    margin: .5em 2em 0 2em;
}

.logo-line{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}
.nav-social{
    font-size: 1.5rem;
    color: #473768;
}
.nav-list{
    text-align: center;
    font-size: 1.1em;
    font-weight: 500;
    display: flex;
    justify-content: center;
}
.menuItems ul li a{
    color: #645c75;
    text-align: center;
}
.menuItems ul li a:hover{
    text-decoration: none;
}
.nav-list li{
    list-style: none;
}
.picSet{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
}
.img1{
    background-image: url('../images/computer.jpg');
    background-size: cover;
    width: 60vw;
    margin-right: 2em;
    position: relative;
}
a#parag1{
    color: black;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 2%;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.596);
    position: absolute;

}
#parag1-span{
    font-size: .6em;
}
.col-pic{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    position: relative;
}
.parag2{
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    margin-left: .7em;
    bottom: 0px;
}
.parag3{
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    margin-left: .7em;
    bottom: 0px;
}
a#parag1{
    text-decoration: none;
}
a.img2{
    text-decoration: none;
}
a.img3{
    text-decoration: none;
}
.img2{
    background-image: url('../images/apron-counter.jpg');
    width: 350px;
    height: 250px;
    background-position: center bottom;
    margin-left: 2em;
    margin-bottom: 2em;
    transition: all .5s;

}
.img2:hover{
    transform: scale(1.1);
}
.img3{
    background-image: url('../images/chef-coffee-cook-887827.jpg');
    width: 350px;
    height: 250px;
    background-position: top center ;
    margin-left: 2em;
    transition: all .5s;
}
.img3:hover{
    transform: scale(1.1);
}
p{
    font-size: 1em;
}

.container{
    margin-top: 5rem;
}
#recentPosts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#postHeader{
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    letter-spacing: 8px;
}
.box{
    width: 475px;
    margin: 2em;
}
.recentImg{
    width: 475px;
    border: none;
    padding: 5px;
    box-shadow: 5px 10px 10px #888888;
    margin-bottom: 2em;
}

a.title{
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
}
.comments-div{
    display: flex;
    justify-content: center;
}
#entries{
    text-align: center;
    margin: 2rem;
}
.commentLine{
    border: 1px solid #fff;;
    background-color: #f5f5f5;
    margin: 2rem;
    padding: 1rem;
    width: 50rem;
}
.comment-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.red{
    color: red;
}
span#page{
    text-align: center;
    margin: 0 auto;
}
/* Styles for the footer section */
footer{
    background:#242c36;
    padding: 2rem 1rem;
    margin-top: 6rem;  
}

footer h4{
    color: #ffffff;
    text-transform: uppercase;
    font-size:20px;
    font-weight:400;
}
footer ul li{
    list-style: none;
}
footer ul li a{
    color:#636e7b;
    line-height:2;
}
footer ul li a:hover{
    color:#a734c4;
    text-decoration: none;
}
footer address ul li{
    line-height:1.8;
    color:#636e7b;
}
.email-legend{
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 1em;
}
#footer-textarea{
    width: 100%;
    height: 40px;
    padding: 1rem;
}
.subscribe{
    background-color:  #5228a7;
    color: #ffffff;

}

/* Media Query for entire page */
@media only screen and (max-width: 1024px){
    .img1{
        height: 55vh;
        width: 100%;
    }
    #parag1{
        font-size: 1rem;
        font-weight: 500;
        /* bottom: 0px; */
        /* position: absolute; */
    }
}